<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catan Board Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
</head>
<body>
    <h1>Catan board generator</h1>

    <section id="form">
        <label for="expansionSelect">Expansion:</label>
        <select id="expansionSelect">
            <option value="">Choose expansion</option>
            <option value="1">wip</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <button id="shuffleButton">Shuffle</button>
    </section>

    <section id="board">
        {% for row in board %}
            <div class="board-row">
                {% for tile in row %}
                    <div class="tile {{ tile.tile }}">
                        <span class="tile-number {% if tile.number in [6, 8] %}red{% endif %}">
                            {{ tile.number or '-' }}
                        </span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
